@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display { font-family: 'Cinzel', serif; }
.font-body { font-family: 'Lato', sans-serif; }
.font-serif-custom { font-family: 'Cormorant Garamond', serif; }

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #1c1917; }
::-webkit-scrollbar-thumb { background: #44403c; border-radius: 3px; }
